.wrapper {
  display: none;
}

.wrapper {
  height: 100%;
  background: #f5f5f5;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(245, 245, 245);
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.sidebar-wrapper {
  width: 0;
  display: none;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: block;
    box-sizing: border-box;
    width: 56px;
    background: #eff2f7;
    float: left;
    padding: 8px;
    height: calc(100vh - 102px);
    border-top: 1px solid #d3dce6;
    border-right: 1px solid #d3dce6;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(239, 242, 247);
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 220, 230);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(211, 220, 230);
  }
}

@media screen and (min-width: 800px) {
  .change-lang-btn {
    padding: 7px;
    margin-bottom: 16px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
  }
}

@media screen and (min-width: 800px) {
  .editor-wrapper #toggle-dark-mode-desktop,
  .editor-wrapper #toggle-expanded-mode-desktop,
  .change-lang-btn {
    display: flex;
    text-align: center;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #d3dce6;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(211, 220, 230);
    border-right-color: rgb(211, 220, 230);
    border-bottom-color: rgb(211, 220, 230);
    border-left-color: rgb(211, 220, 230);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
}

@media screen and (min-width: 800px) {
  .change-lang-btn.active {
    background: #0556f3;
    border: 1px solid #0556f3;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(5, 86, 243);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(5, 86, 243);
    border-right-color: rgb(5, 86, 243);
    border-bottom-color: rgb(5, 86, 243);
    border-left-color: rgb(5, 86, 243);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
}

.change-lang-btn-icon {
  height: 24px;
  width: 24px;
}
